{% extends "base.html" %}

{% block js %}
    <script>
        $(document).ready(function(){
            $(".jSearch").click(() => {
                let searchText = $(".jSearchText").val();
                location.href = "/history?query=" + searchText;
            });

            $(".jSearchText").keydown((event) => {
                if(event.keyCode === 13) $(".jSearch").trigger("click");
            });
        });
    </script>
{% endblock %}

{% block content %}
    <section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('/static/images/bg_1.jpg');">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-end js-fullheight">
                <div class="col-md-9 ftco-animate pb-5">
                    <p class="breadcrumbs mb-2"><span class="mr-2"><a href="index.html">Home <i class="fa fa-chevron-right"></i></a></span>
                        <span>History <i class="fa fa-chevron-right"></i></span>
                    </p>
                    <h1 class="mb-0 bread">History</h1>
                </div>
            </div>
        </div>
    </section>


    <section class="ftco-section testimony-section">
        <div class="container">
            <div class="white-wrap w-100 p-md-5 p-4">
                <h3 class="mb-4">Analyzer History</h3>

                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="card">
                            <h5 class="card-header">
                                분석 내역
                            </h5>
                            <div class="card-header">
                                <div class="input-group">
                                    <input type="text" value="{{ request.GET.query }}" class="form-control jSearchText" placeholder="제목으로 검색">
                                    <div class="input-group-append">
                                        <button type="button" class="btn btn-primary btn-xs jSearch"><i
                                                class="fa fa-search"></i> 검색
                                        </button>
                                    </div>
                                </div>

                            </div>
                            <div class="card-body">
                                <table class="table table-hover table-responsive-lg">
                                    <thead>
                                    <tr>
                                        <th scope="col">No.</th>
                                        <th scope="col">title</th>
                                        <th scope="col">Original Image</th>
                                        <th scope="col">Output</th>
                                        <th scope="col">등록일</th>
                                    </tr>
                                    </thead>
                                    <tbody id="dataContainer">
                                    {% for item in returnData.list %}
                                        <tr>
                                            <th scope="col">{{ forloop.counter }}</th>
                                            <td scope="col">{{ item.title }}</td>
                                            <td scope="col">{{ item.originName }}</td>
                                            <td scope="col">{{ item.resName }}</td>
                                            <td scope="col">{{ item.regDate }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="card">
                            <div class="card-body text-center" id="pager">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}