{% extends "base.html" %}
{% block js %}
    <script>
        $(document).ready(function(){
            var test = '{{ returnData.item.title }}';
        });
    </script>
{% endblock %}

{% block content %}
    <section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('/static/images/bg_1.jpg');">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-end js-fullheight">
                <div class="col-md-9 ftco-animate pb-5">
                    <p class="breadcrumbs mb-2"><span class="mr-2"><a href="index.html">Home <i class="fa fa-chevron-right"></i></a></span>
                        <span>History <i class="fa fa-chevron-right"></i></span>
                    </p>
                    <h1 class="mb-0 bread">History</h1>
                </div>
            </div>
        </div>
    </section>


    <section class="ftco-section testimony-section">
        <div class="container">
            <div class="white-wrap w-100 p-md-5 p-4">
                <h3 class="mb-4">{{ returnData.item.title }}</h3>

                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="card">
                            <h5 class="card-header">
                                분석 내역

                            </h5>
                            <div class="card-body">

                            </div>
                        </div>
                    </div>

                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="card">
                            <div class="card-body text-center" id="pager">
                                <img src="{{ returnData.path }}{{ returnData.item.originPath }}" class="img-fluid col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12" alt="...">
                                <img src="{{ returnData.path }}{{ returnData.item.resPath }}" class="img-fluid col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12" alt="...">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}